BSC: 
* Pros: 
	- Red donde hay mayor flujo de user que aceptan este tipo de proyectos
	- Económica a nivel operativo
	- Es una red más universal y conocida

* Contras: 
	- Hay muchos proyectos que se lanzan a diario
	- Se puede perder fácilmente entre esos proyectos
	- La liquidez es en pancake, proyecto en declive
	
L2:
* Pros:
	- Hype en varias redes (incluso mayor a la BSC) 
	- Migracion importante de users de ETH a L2
	- Adopción y confiabilidad (se apalancan en protocolos y features seguras)
	- User con mayor mayor capital
	- Al tener como discurso ser una red de soluciones masivas, puede que el tráfico de influencer ayuden a aumentar el hype
	- Nos pueden listar mucho más fácil  
* Contras:
	- Precio del gas (gastos operativos mucho mayores)
	- Aumento de riesgo en cuando a nuestro capital
	
-----------------------------------------------------------------------------------------------
Lineamientos de comparación 

* ventajas en docs
* Deployment (explorers, costos)
* Gas fee
